**Numpy**

**List**

In [21]:

my_list = [1, 2, 3, 8, 5,6,7,5,9,10]


print(my_list)
print ('sum:',sum(my_list))
print ('max:',max(my_list))
print ('min:',min(my_list))
my_list.append(33)
print('updated list:',my_list)
my_list.remove(8)
print('updated list:',my_list)
print('ascending',sorted(my_list))
print('descending',sorted(my_list) reverse=true)

[1, 2, 3, 8, 5, 6, 7, 5, 9, 10]
sum: 56
max: 10
min: 1
updated list: [1, 2, 3, 8, 5, 6, 7, 5, 9, 10, 33]
updated list: [1, 2, 3, 5, 6, 7, 5, 9, 10, 33]
ascending [1, 2, 3, 5, 5, 6, 7, 9, 10, 33]
descending [33, 10, 9, 7, 6, 5, 5, 3, 2, 1]

In [5]:
min(my_list)

1

In [4]:
max(my_list)

10

In [3]:
sum(my_list)

55

***Matplotlib***

**Tuple**

In [33]:
tuple = (1, 2, 3, 4, 5)
print('second element',tuple[1])
print('last element',tuple[-1])
print('first element',tuple[0])
tuple_list=list(tuple)
tuple_list[2]=8
print(tuple_list)

second element 2
last element 5
first element 1
[1, 2, 8, 4, 5]

**Set**

In [39]:
set1 = {1, 2, 3, 4, 5, 5, 4}
set2 = {'a', 'b', 'c', 'c', 'd'}

print("Set 1:", set1)
print("Set 2:", set2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {'c', 'd', 'b', 'a'}

In [40]:


union_set = set1.union(set2)
print("Union of Set 1 and Set 2:", union_set)

intersection_set = set1.intersection(set2)
print("Intersection of Set 1 and Set 2:", intersection_set)

difference_set1_set2 = set1.difference(set2)
print("Difference (Set 1 - Set 2):", difference_set1_set2)

difference_set2_set1 = set2.difference(set1)
print("Difference (Set 2 - Set 1):", difference_set2_set1)

Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 'd', 'a', 'b', 'c'}
Intersection of Set 1 and Set 2: set()
Difference (Set 1 - Set 2): {1, 2, 3, 4, 5}
Difference (Set 2 - Set 1): {'c', 'd', 'b', 'a'}

In [41]:

set1.add(6)
print("Set after adding 6:", set1)
set1.remove(3)
print("Set after removing 3:", set1)

Set after adding 6: {1, 2, 3, 4, 5, 6}
Set after removing 3: {1, 2, 4, 5, 6}

**Dictionary**

In [43]:

print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York', 'is_student': False, 'courses': ['Math', 'Science']}

In [47]:
# Create a dictionary for student information
student = {
    "name": "Alice",
    "student_id":234,
    "age": 20,
    "major": "Computer Science",
    "gpa": 3.8
}

print("Original dictionary:", student)

student["age"] = 21

print("Updated dictionary:", student)

Original dictionary: {'name': 3.8}
Updated dictionary: {'name': 3.8, 'age': 21}